@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-text{
    color: #3730A3;
}
.bg-btn{
    background-color: #3730A3;
    color: rgb(235, 234, 234);
}
.bg-btn:hover{
    color: black;
}

.list-text{
    font-size: 14px;
    color: black;
}