@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-text{
    color: #3730A3;
}
.bg-btn{
    background-color: #3730A3;
    color: rgb(235, 234, 234);
}
.bg-btn:hover{
    color: black;
}

.list-text{
    font-size: 14px;
    color: black;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
  }
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }